<launch>

<!-- A simple launch file for the urg_node package. -->

    <node name="realsense_transform" pkg="tf" type="static_transform_publisher" args="0.28 0.0 0.10 0.0 0.3490658504 0.0 /base_link /camera_link 100"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
     <!-- <arg name="tf_prefix" value="realsense"/>-->
      <arg name="enable_pointcloud" value="true"/>
      <!-- <arg name="enable_gyro" value="true"/>
      <arg name="enable_accel" value="true"/> 
      <arg name="unite_imu_method" value="linear_interpolation"/> -->
    </include>

</launch>
